# Q1. List any five functions of the pandas library with execution.

Certainly! Here are five functions from the Pandas library along with their execution in a sample code:

read_csv():

Function to read a CSV file into a DataFrame.

In [3]:
import pandas as pd

# Reading a CSV file into a DataFrame
df = pd.read_csv('titanic.csv')

# Displaying the DataFrame
print(df)

     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    male  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                       Myles, Mr. Thomas Francis    male  62.0      0      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
..                                            ...     ...   ...    ...    ...
413                            Spector, Mr. Woolf    male   NaN      0      0
414                  Oliva y Ocana, Dona. Fermina  female  39.0      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   NaN      0      0
417                      Peter, Master. Michael J    male   NaN      1      1

                 Ticket      Fare Cabin Embarked
0                330911    7.8292   NaN        Q
1                363272    7.0000   NaN        S
2                240276    9.6875   NaN        Q
3                315154    8.6625   NaN        S
4               3101298   12.2875   NaN        S
..                  ...       ...   ...      ...
413           A.5. 3236    8.0500   NaN        S
414            PC 17758  108.9000  C105        C
415  SOTON/O.Q. 3101262    7.2500   NaN        S
416              359309    8.0500   NaN        S
417                2668   22.3583   NaN        C

[418 rows x 12 columns]

head():

Returns the first N rows of a DataFrame.

In [4]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)

# Displaying the first 2 rows of the DataFrame
print(df.head(2))

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

info():

Provides a concise summary of a DataFrame, including data types and missing values

In [6]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)

# Displaying information about the DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None

groupby():

Groups rows based on a specified column and allows for aggregation

In [7]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)

# Grouping by 'Gender' and calculating the mean age
group_by_gender = df.groupby('Gender')['Age'].mean()
print(group_by_gender)

Gender
Female    26.0
Male      30.0
Name: Age, dtype: float64

describe():

Generates descriptive statistics of a DataFrame, including measures of central tendency and variability.

In [8]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)

# Displaying descriptive statistics of the DataFrame
print(df.describe())

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

# These are just a few examples, and Pandas offers many more functions for data manipulation, analysis, and exploration.

# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [12]:
#Certainly! You can use the index attribute of the DataFrame to re-index it with a new index. Here's a Python function that re-indexes a DataFrame with a new index starting from 1 and incrementing by 2 for each row:


import pandas as pd

def reindex_dataframe(df):
    # Create a new index starting from 1 and incrementing by 2
    new_index = range(1, len(df)*2, 2)

    # Re-index the DataFrame
    df_reindexed = df.set_index(pd.Index(new_index))

    return df_reindexed

# Example DataFrame
data = {'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]}
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Re-index the DataFrame using the function
df_reindexed = reindex_dataframe(df)

# Display the DataFrame after re-indexing
print("\nDataFrame after re-indexing:")
print(df_reindexed)

Original DataFrame:
    A   B   C
0  10  40  70
1  20  50  80
2  30  60  90

DataFrame after re-indexing:
    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [15]:
import pandas as pd

def calculate_sum_of_first_three(df):
    # Check if 'Values' column exists in the DataFrame
    if 'Values' in df.columns:
        # Extract the first three values from the 'Values' column
        first_three_values = df['Values'].head(3)

        # Calculate the sum of the first three values
        sum_of_first_three = first_three_values.sum()

        # Print the sum to the console
        print("Sum of the first three values in 'Values' column:", sum_of_first_three)
    else:
        print("Error: 'Values' column not found in the DataFrame.")

# Example DataFrame
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Call the function to calculate the sum of the first three values
calculate_sum_of_first_three(df)

Sum of the first three values in 'Values' column: 60

# Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [16]:
import pandas as pd

def add_word_count_column(df):
    # Check if 'Text' column exists in the DataFrame
    if 'Text' in df.columns:
        # Apply a lambda function to count words in each row and create 'Word_Count' column
        df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))

        # Print the DataFrame with the new 'Word_Count' column
        print(df)
    else:
        print("Error: 'Text' column not found in the DataFrame.")

# Example DataFrame
data = {'Text': ["This is a sample sentence.", "Count words in this text.", "Another example."]}
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Call the function to add the 'Word_Count' column
add_word_count_column(df)

Original DataFrame:
                         Text
0  This is a sample sentence.
1   Count words in this text.
2            Another example.
                         Text  Word_Count
0  This is a sample sentence.           5
1   Count words in this text.           5
2            Another example.           2

# Q5. How are DataFrame.size() and DataFrame.shape() different?

The methods DataFrame.size and DataFrame.shape in Pandas serve different purposes:

DataFrame.size:

The DataFrame.size attribute returns the total number of elements in the DataFrame.
It calculates the size by multiplying the number of rows by the number of columns.
The result is a single integer representing the total number of elements in the DataFrame.

In [17]:
import pandas as pd

# Creating a DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Displaying the size of the DataFrame
print("DataFrame size:", df.size)

DataFrame size: 6

DataFrame.shape:

The DataFrame.shape attribute returns a tuple representing the dimensions of the DataFrame.
It provides information about the number of rows and columns in the DataFrame.
The result is a tuple in the format (number_of_rows, number_of_columns).
Example:

In [18]:
import pandas as pd

# Creating a DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Displaying the shape of the DataFrame
print("DataFrame shape:", df.shape)

DataFrame shape: (3, 2)

In summary, DataFrame.size provides the total number of elements in the DataFrame, while DataFrame.shape provides a tuple representing the dimensions (number of rows and columns) of the DataFrame.


2 / 2

# Q6. Which function of pandas do we use to read an excel file?

In Pandas, the function used to read an Excel file is pd.read_excel(). This function is part of the Pandas library and is specifically designed to read data from Excel files and create a DataFrame.

Here's a simple example of how to use pd.read_excel():

import pandas as pd

# Provide the path to the Excel file
excel_file_path = 'path/to/your/excel/file.xlsx'

# Use pd.read_excel() to read the Excel file into a DataFrame
df = pd.read_excel(excel_file_path)

# Display the DataFrame
print(df)

# Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your  function should extract the username from each email address and store it in the new 'Username' column.


Certainly! You can use the str.split() function along with the str.get() function to extract the username from each email address and create a new 'Username' column. Here's a Python function to achieve this:

In [19]:
import pandas as pd

def extract_username_from_email(df):
    # Check if 'Email' column exists in the DataFrame
    if 'Email' in df.columns:
        # Extract the username from each email address and create 'Username' column
        df['Username'] = df['Email'].str.split('@').str.get(0)

        # Print the DataFrame with the new 'Username' column
        print(df)
    else:
        print("Error: 'Email' column not found in the DataFrame.")

# Example DataFrame
data = {'Email': ['john.doe@example.com', 'alice.smith@example.com', 'bob.jones@example.com']}
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Call the function to add the 'Username' column
extract_username_from_email(df)

Original DataFrame:
                     Email
0     john.doe@example.com
1  alice.smith@example.com
2    bob.jones@example.com
                     Email     Username
0     john.doe@example.com     john.doe
1  alice.smith@example.com  alice.smith
2    bob.jones@example.com    bob.jones

# Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

In [20]:
import pandas as pd

def select_rows_based_on_conditions(df):
    # Check if columns 'A' and 'B' exist in the DataFrame
    if 'A' in df.columns and 'B' in df.columns:
        # Use boolean indexing to select rows based on conditions
        selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]

        # Return the new DataFrame with selected rows
        return selected_rows
    else:
        print("Error: Columns 'A' and 'B' not found in the DataFrame.")
        return pd.DataFrame()  # Return an empty DataFrame if columns are not found

# Example DataFrame
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Call the function to select rows based on conditions
selected_df = select_rows_based_on_conditions(df)

# Display the new DataFrame with selected rows
print("\nDataFrame with selected rows:")
print(selected_df)

Original DataFrame:
   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

DataFrame with selected rows:
   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2